[workspace]
authors = ["Jean Bilheux <bilheuxjm@ornl.gov>", "Chen Zhang <zhangc@ornl.gov>"]
channels = ["conda-forge", "neutronimaging", "simpleitk", "astra-toolbox"]
name = "all_ct_reconstruction"
platforms = ["linux-64"]
version = "1.0.0"

[tasks]
lab = "jupyter lab --notebook-dir=notebooks"
notebook = "jupyter notebook --notebook-dir=notebooks"

[dependencies]
python = ">=3.13.5,<3.14"
jupyterlab = ">=4.4.4,<5"
imars3d = ">=1.2.0,<2"
algotom = ">=1.6.0,<2"
pydantic = ">=2.11.7,<3"
jupyter = ">=1.1.1,<2"
simpleitk = ">=2.5.2,<3"
astra-toolbox = ">=2.2.0,<3"
opencv = ">=4.12.0,<5"
read-roi = ">=1.6.0,<2"
svmbir = ">=0.4.0,<0.5"
ipywidgets = ">=8.1.7,<9"
ipython = ">=9.4.0,<10"
ipympl = ">=0.9.7,<0.10"
loguru = ">=0.7.3,<0.8"

[pypi-dependencies]
neutronbraggedge = ">=2.0.6, <3"
neutompy = { git = "https://github.com/ornlneutronimaging/NeuTomPy-toolbox.git", branch = "main" }
mkl-fft = ">=2.0.0, <3"
all-ct-reconstruction-code = { path = "notebooks/__code", editable = true }
mbirjax = { version = ">=0.6.7, <0.7", extras = ["cuda12"] }
